.header {
    background-color: #ff7043; /* Laranja */
    color: white;
    padding: 20px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header nav ul {
    list-style: none;
    padding: 0;
  }
  
  .header nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
  }  